
{% if not jQuery.isEmptyObject(data) %}
<h5 style="margin-top: 20px;"> {{ __("RFS Status History") }} </h5>
<table class="table table-bordered small" style="width: 100%" >
	<thead>
		<tr>
			<th style="width: 15%" class="text-center">{{ __("#") }}</th>
			<th style="width: 35%" class="text-left">{{ __("Status") }}</th>
			<th style="width: 50%" class="text-left">{{ __("Changed On") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for(const [key, value] of Object.entries(data.status_history)) { %}
			<tr>
				<td class="text-center"> {%= parseInt(key)+1 %} </td>
				<td class="text-left">  
					<span class="indicator-pill whitespace-nowrap {%= value['color'] %}"><span>{%= value["status"] %}</span></span>

				</td>
				<td class="text-left"> {%= value["creation_date"] %} </td>
			</tr>
		{% } %}
	</tbody>
</table>
{% else %}
<p style="margin-top: 30px;"> RFS status history is not available. </p>
{% endif %}
