
{% if not jQuery.isEmptyObject(data) %}
<h5 style="margin-top: 20px;"> {{ __("RFS Status History") }} </h5>
<table class="table table-bordered small">
	<thead>
		<tr>
			<th style="width: 10%">{{ __("#") }}</th>
			<th style="width: 20%" class="text-right">{{ __("Status") }}</th>
			<th style="width: 70%" class="text-right">{{ __("Created On") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for(const [key, value] of Object.entries(data.status_history)) { %}
			<tr>
				<td> {%= key %} </td>
				<td class="text-right">  
					<span class="indicator-pill whitespace-nowrap {%= value['color'] %}"><span>{%= value["status"] %}</span></span>

				</td>
				<td class="text-right"> {%= value["creation_date"] %} </td>
			</tr>
		{% } %}
	</tbody>
</table>
{% else %}
<p style="margin-top: 30px;"> RFS status history is not available. </p>
{% endif %}
